*{
    padding: 0px;
    margin: 0px;
}

.hero{
    background-color: beige;
    height: 30px;
    display: flex;
    gap: 220px;
}

.main{
    height: 100vh;
    padding: 10px;
}

.footer{
    
    height: 150px;
}

.first{
    background-color: azure;
    height: 20vh;
}

.second{
    background-color: aquamarine;
    height: 60vh;
}

.third{
    background-color: blanchedalmond;
    height: 20vh;
    display: flex;
    flex-direction: row;
}

.F1{
    display: flex;
    justify-content: center;
}

.F2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-small;
}

.F3{
    display: flex;
    justify-content: center;
}

.pt1{
    background-color: brown;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2%;
}

.pt2{
    background-color: aqua;
    width: 40%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.boldT{
    background-color: deepskyblue;
}

.subT{
    background-color: cornflowerblue;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn1{
    background-color: aquamarine;
}

.btn2{
    background-color: antiquewhite;
}

.marquee{
    background-color: black;
}

.sb{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sb1{
    width: 50%;
    height: 50%;
}

.sb2{
    width: 50%;
    height: 50%;
}

.Icon{
    background-color: ivory;
    padding: 7%;
}

.spacedText{
    background-color: aqua;
    padding: 7%;
}

.tinyText{
    background-color: darkkhaki;
    padding: 7%;
}

.minibar{
    background-color: darkslategrey;
    padding: 7%;
}

.grids {
    display: flex;
    flex-wrap: wrap;
}

.item {
    background-color: lightblue; 
    flex: 2 2 15%; 
    margin: 10px; 
    text-align: center; 
    padding: 27px; 
}

.untitled{
    background-color: darkgoldenrod;
}

.midsub{
    background-color: aqua;
}

.tb{
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.copyright{
    background-color: burlywood;
    width: 30%;
}

.terms{
    background-color: cadetblue;
    width: 20%;
}